DB_HOST = localhost
DB_PORT = 3306
DB_NAME = secure_chat
DB_USER = user
DB_PASS = password

CA_CERTS = ca_file
SERVER_CERT = server_file
CLIENT_CERT = client_file

SERVER_KEY = server_key
CLIENT_KEY = client_key

CHAT_PORT = 9000